h1 {color:violet; background-color: lavender; font-family:helvetica; border: 5px solid skyblue; }
h2 {color:gold; font-family:helvetica; background-color:violet;}
h4 {color:plum; font-family:helvetica; }
body {background-color: lavender}
img {width: 30%; height: 30%; margin-left: 25px;}
